.navigation {
    font-family: 'Baloo Paaji', cursive;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-grow: 1;
    min-height: 100px;
    align-items: center;
    transition: all, 0.3s;
    z-index: 1000;

    .logo {
        color: white;
        font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1300 - 300)));
        text-decoration: none;
    }
}